.u-img-scale {
  height: auto;
  max-width: 100%;
}

.u-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.u-pull-left {
  float: left !important;
}

.u-pull-right {
  float: right !important;
}

.u-no-float {
  float: none !important;
}

.u-clearfix:before,
.u-clearfix:after {
  content: " ";
  display: table;
}

.u-clearfix:after {
  clear: both
}

.u-clearfix {
  *zoom: 1
}

.u-v-top {
  vertical-align: top !important;
}

.u-v-bottom {
  vertical-align: bottom !important;
}

.u-v-middle {
  vertical-align: middle !important;
}

.u-v-baseline {
  vertical-align: baseline !important;
}

.u-inline {
  display: inline !important;
}

.u-block {
  display: block !important;
}

.u-inline-block {
  display: inline-block !important;
}

.u-invisible {
  visibility: hidden !important;
}

.u-visible {
  visibility: visible !important;
}

.u-hide {
  display: none !important;
}

.u-bold {
  font-weight: bold;
}

.u-regular {
  font-weight: normal;
}

.u-italic {
  font-style: italic;
}

.u-txt-left {
  text-align: left;
}

.u-txt-right {
 text-align: right;
}

.u-txt-center {
  text-align: center;
}

.u-txt-just {
  text-align: justify;
}

.u-lower {
  text-transform: lowercase;
}

.u-upper {
  text-transform: uppercase;
}

.u-caps {
  text-transform: capitalize;
}

.u-txt-truncate,
.u-txt-clip {
  overflow-x: hidden;
  white-space: nowrap;
}

.u-txt-truncate {
  text-overflow: ellipsis;
}

.u-txt-clip {
  text-overflow: clip;
}

.u-break-word {
  word-wrap: break-word;
  word-break: keep-all;
}

.u-no-wrap {
  white-space: nowrap !important;
}

.u-no-select {
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
}

.u-click {
  cursor: pointer;
}

.u-fit {
  max-width: 100%
}

.u-half-width {
  width: 50%
}

.u-full-width {
  width: 100%
}

.u-full-height {
  height: 100%
}
