form .row {
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

form .row + .row {
  margin-top: 1rem;
}

form .row input:not([type="radio"]):not([type="checkbox"]),
form .row select,
form .row textarea {
  margin: 0;
  position: relative;
  width: 100%;
  vertical-align: middle;
}
