.u-img-scale {
  height: auto;
  max-width: 100%;
  position: relative;
}

.u-avatar {
  border-radius: 50%;
}

.u-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.u-pull-left {
  float: left !important;
}

.u-pull-right {
  float: right !important;
}

.u-no-pull {
  float: none !important;
}

.u-clearfix:before,
.u-clearfix:after {
  content: " ";
  display: table;
}

.u-clearfix:after {
  clear: both
}

.u-clearfix {
  *zoom: 1
}

.u-v-top {
  vertical-align: top !important;
}

.u-v-bottom {
  vertical-align: bottom !important;
}

.u-v-middle {
  vertical-align: middle !important;
}

.u-v-baseline {
  vertical-align: baseline !important;
}

.u-inline {
  display: inline !important;
}

.u-block {
  display: block !important;
}

.u-inline-block {
  display: inline-block !important;
}

.u-invisible {
  visibility: hidden !important;
}

.u-visible {
  visibility: visible !important;
}

.u-hide {
  display: none !important;
}

.u-bold {
  font-weight: bold;
}

.u-regular {
  font-weight: normal;
}

.u-italic {
  font-style: italic;
}

.u-txt-left {
  text-align: left;
}

.u-txt-right {
 text-align: right;
}

.u-txt-center {
  text-align: center;
}

.u-txt-just {
  text-align: justify;
}

.u-lower {
  text-transform: lowercase;
}

.u-upper {
  text-transform: uppercase;
}

.u-caps {
  text-transform: capitalize;
}

.u-monospace {
  
}

.u-txt-truncate,
.u-txt-clip {
  overflow-x: hidden;
  white-space: nowrap;
}

.u-txt-truncate {
  text-overflow: ellipsis;
}

.u-txt-clip {
  text-overflow: clip;
}

.u-break-word {
  word-wrap: break-word;
  word-break: keep-all;
}

.u-no-wrap {
  white-space: nowrap !important;
}

.u-no-select {
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
}

.u-click {
  cursor: pointer;
}

.u-fit {
  max-width: 100%
}

.u-half-width {
  width: 50%
}

.u-full-width {
  width: 100%
}

.u-full-height {
  height: 100%
}

.u-mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}

.u-ma-0 {
  margin: 0 0 !important;
}

.u-mt-0 {
  margin-top: 0 !important;
}

.u-mr-0 {
  margin-right: 0 !important;
}

.u-mb-0 {
  margin-bottom: 0 !important;
}

.u-ml-0 {
  margin-left: 0 !important;
}

.u-mx-0 {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.u-my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.u-ma-1 {
  margin: 1rem 1rem !important;
}

.u-mt-1 {
  margin-top: 1rem !important;
}

.u-mr-1 {
  margin-right: 1rem !important;
}

.u-mb-1 {
  margin-bottom: 1rem !important;
}

.u-ml-1 {
  margin-left: 1rem !important;
}

.u-mx-1 {
  margin-right: 1rem !important;
  margin-left: 1rem !important;
}

.u-my-1 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.u-ma-2 {
  margin: 1.5rem 1.5rem !important;
}

.u-mt-2 {
  margin-top: 1.5rem !important;
}

.u-mr-2 {
  margin-right: 1.5rem !important;
}

.u-mb-2 {
  margin-bottom: 1.5rem !important;
}

.u-ml-2 {
  margin-left: 1.5rem !important;
}

.u-mx-2 {
  margin-right: 1.5rem !important;
  margin-left: 1.5rem !important;
}

.u-my-2 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

.u-ma-3 {
  margin: 3rem 3rem !important;
}

.u-mt-3 {
  margin-top: 3rem !important;
}

.u-mr-3 {
  margin-right: 3rem !important;
}

.u-mb-3 {
  margin-bottom: 3rem !important;
}

.u-ml-3 {
  margin-left: 3rem !important;
}

.u-mx-3 {
  margin-right: 3rem !important;
  margin-left: 3rem !important;
}

.u-my-3 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}

.u-pa-0 {
  padding: 0 0 !important;
}

.u-pt-0 {
  padding-top: 0 !important;
}

.u-pr-0 {
  padding-right: 0 !important;
}

.u-pb-0 {
  padding-bottom: 0 !important;
}

.u-pl-0 {
  padding-left: 0 !important;
}

.u-px-0 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.u-py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.u-pa-1 {
  padding: 1rem 1rem !important;
}

.u-pt-1 {
  padding-top: 1rem !important;
}

.u-pr-1 {
  padding-right: 1rem !important;
}

.u-pb-1 {
  padding-bottom: 1rem !important;
}

.u-pl-1 {
  padding-left: 1rem !important;
}

.u-px-1 {
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

.u-py-1 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.u-pa-2 {
  padding: 1.5rem 1.5rem !important;
}

.u-pt-2 {
  padding-top: 1.5rem !important;
}

.u-pr-2 {
  padding-right: 1.5rem !important;
}

.u-pb-2 {
  padding-bottom: 1.5rem !important;
}

.u-pl-2 {
  padding-left: 1.5rem !important;
}

.u-px-2 {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}

.u-py-2 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.u-pa-3 {
  padding: 3rem 3rem !important;
}

.u-pt-3 {
  padding-top: 3rem !important;
}

.u-pr-3 {
  padding-right: 3rem !important;
}

.u-pb-3 {
  padding-bottom: 3rem !important;
}

.u-pl-3 {
  padding-left: 3rem !important;
}

.u-px-3 {
  padding-right: 3rem !important;
  padding-left: 3rem !important;
}

.u-py-3 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}
