.container,
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px
  }
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.row__col-x-1, .row__col-s-1, .row__col-m-1, .row__col-l-1,
.row__col-x-2, .row__col-s-2, .row__col-m-2, .row__col-l-2,
.row__col-x-3, .row__col-s-3, .row__col-m-3, .row__col-l-3,
.row__col-x-4, .row__col-s-4, .row__col-m-4, .row__col-l-4,
.row__col-x-5, .row__col-s-5, .row__col-m-5, .row__col-l-5,
.row__col-x-6, .row__col-s-6, .row__col-m-6, .row__col-l-6,
.row__col-x-7, .row__col-s-7, .row__col-m-7, .row__col-l-7,
.row__col-x-8, .row__col-s-8, .row__col-m-8, .row__col-l-8,
.row__col-x-9, .row__col-s-9, .row__col-m-9, .row__col-l-9,
.row__col-x-10, .row__col-s-10, .row__col-m-10, .row__col-l-10,
.row__col-x-11, .row__col-s-11, .row__col-m-11, .row__col-l-11,
.row__col-x-12, .row__col-s-12, .row__col-m-12, .row__col-l-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.row__col-x-1, .row__col-x-2, .row__col-x-3,
.row__col-x-4, .row__col-x-5, .row__col-x-6,
.row__col-x-7, .row__col-x-8, .row__col-x-9,
.row__col-x-10, .row__col-x-11, .row__col-x-12 {
  float: left
}

.row__col-x-12 { width: 100% }
.row__col-x-11 { width: 91.66666667% }
.row__col-x-10 { width: 83.33333333% }
.row__col-x-9 { width: 75% }
.row__col-x-8 { width: 66.66666667% }
.row__col-x-7 { width: 58.33333333% }
.row__col-x-6 { width: 50% }
.row__col-x-5 { width: 41.66666667% }
.row__col-x-4 { width: 33.33333333% }
.row__col-x-3 { width: 25% }
.row__col-x-2 { width: 16.66666667% }
.row__col-x-1 { width: 8.33333333% }

.row__col-x-pl-12 { right: 100% }
.row__col-x-pl-11 { right: 91.66666667% }
.row__col-x-pl-10 { right: 83.33333333% }
.row__col-x-pl-9 { right: 75% }
.row__col-x-pl-8 { right: 66.66666667% }
.row__col-x-pl-7 { right: 58.33333333% }
.row__col-x-pl-6 { right: 50% }
.row__col-x-pl-5 { right: 41.66666667% }
.row__col-x-pl-4 { right: 33.33333333% }
.row__col-x-pl-3 { right: 25% }
.row__col-x-pl-2 { right: 16.66666667% }
.row__col-x-pl-1 { right: 8.33333333% }
.row__col-x-pl-0 { right: auto }

.row__col-x-ph-12 { left: 100% }
.row__col-x-ph-11 { left: 91.66666667% }
.row__col-x-ph-10 { left: 83.33333333% }
.row__col-x-ph-9 { left: 75% }
.row__col-x-ph-8 { left: 66.66666667% }
.row__col-x-ph-7 { left: 58.33333333% }
.row__col-x-ph-6 { left: 50% }
.row__col-x-ph-5 { left: 41.66666667% }
.row__col-x-ph-4 { left: 33.33333333% }
.row__col-x-ph-3 { left: 25% }
.row__col-x-ph-2 { left: 16.66666667% }
.row__col-x-ph-1 { left: 8.33333333% }
.row__col-x-ph-0 { left: auto }

.row__col-x-off-12 { margin-left: 100% }
.row__col-x-off-11 { margin-left: 91.66666667% }
.row__col-x-off-10 { margin-left: 83.33333333% }
.row__col-x-off-9 { margin-left: 75% }
.row__col-x-off-8 { margin-left: 66.66666667% }
.row__col-x-off-7 { margin-left: 58.33333333% }
.row__col-x-off-6 { margin-left: 50% }
.row__col-x-off-5 { margin-left: 41.66666667% }
.row__col-x-off-4 { margin-left: 33.33333333% }
.row__col-x-off-3 { margin-left: 25% }
.row__col-x-off-2 { margin-left: 16.66666667% }
.row__col-x-off-1 { margin-left: 8.33333333% }
.row__col-x-off-0 { margin-left: 0 }

@media (min-width: 768px) {
  .row__col-s-1, .row__col-s-2, .row__col-s-3, .row__col-s-4,
  .row__col-s-5, .row__col-s-6, .row__col-s-7, .row__col-s-8,
  .row__col-s-9, .row__col-s-10, .row__col-s-11, .row__col-s-12 {
    float: left
  }

  .row__col-s-12 { width: 100% }
  .row__col-s-11 { width: 91.66666667% }
  .row__col-s-10 { width: 83.33333333% }
  .row__col-s-9 { width: 75% }
  .row__col-s-8 { width: 66.66666667% }
  .row__col-s-7 { width: 58.33333333% }
  .row__col-s-6 { width: 50% }
  .row__col-s-5 { width: 41.66666667% }
  .row__col-s-4 { width: 33.33333333% }
  .row__col-s-3 { width: 25% }
  .row__col-s-2 { width: 16.66666667% }
  .row__col-s-1 { width: 8.33333333% }

  .row__col-s-pl-12 { right: 100% }
  .row__col-s-pl-11 { right: 91.66666667% }
  .row__col-s-pl-10 { right: 83.33333333% }
  .row__col-s-pl-9 { right: 75% }
  .row__col-s-pl-8 { right: 66.66666667% }
  .row__col-s-pl-7 { right: 58.33333333% }
  .row__col-s-pl-6 { right: 50% }
  .row__col-s-pl-5 { right: 41.66666667% }
  .row__col-s-pl-4 { right: 33.33333333% }
  .row__col-s-pl-3 { right: 25% }
  .row__col-s-pl-2 { right: 16.66666667% }
  .row__col-s-pl-1 { right: 8.33333333% }
  .row__col-s-pl-0 { right: auto }

  .row__col-s-ph-12 { left: 100% }
  .row__col-s-ph-11 { left: 91.66666667% }
  .row__col-s-ph-10 { left: 83.33333333% }
  .row__col-s-ph-9 { left: 75% }
  .row__col-s-ph-8 { left: 66.66666667% }
  .row__col-s-ph-7 { left: 58.33333333% }
  .row__col-s-ph-6 { left: 50% }
  .row__col-s-ph-5 { left: 41.66666667% }
  .row__col-s-ph-4 { left: 33.33333333% }
  .row__col-s-ph-3 { left: 25% }
  .row__col-s-ph-2 { left: 16.66666667% }
  .row__col-s-ph-1 { left: 8.33333333% }
  .row__col-s-ph-0 { left: auto }

  .row__col-s-off-12 { margin-left: 100% }
  .row__col-s-off-11 { margin-left: 91.66666667% }
  .row__col-s-off-10 { margin-left: 83.33333333% }
  .row__col-s-off-9 { margin-left: 75% }
  .row__col-s-off-8 { margin-left: 66.66666667% }
  .row__col-s-off-7 { margin-left: 58.33333333% }
  .row__col-s-off-6 { margin-left: 50% }
  .row__col-s-off-5 { margin-left: 41.66666667% }
  .row__col-s-off-4 { margin-left: 33.33333333% }
  .row__col-s-off-3 { margin-left: 25% }
  .row__col-s-off-2 { margin-left: 16.66666667% }
  .row__col-s-off-1 { margin-left: 8.33333333% }
  .row__col-s-off-0 { margin-left: 0 }
}

@media (min-width: 992px) {
  .row__col-m-1, .row__col-m-2, .row__col-m-3, .row__col-m-4,
  .row__col-m-5, .row__col-m-6, .row__col-m-7, .row__col-m-8,
  .row__col-m-9, .row__col-m-10, .row__col-m-11, .row__col-m-12 {
    float: left
  }

  .row__col-m-12 { width: 100% }
  .row__col-m-11 { width: 91.66666667% }
  .row__col-m-10 { width: 83.33333333% }
  .row__col-m-9 { width: 75% }
  .row__col-m-8 { width: 66.66666667% }
  .row__col-m-7 { width: 58.33333333% }
  .row__col-m-6 { width: 50% }
  .row__col-m-5 { width: 41.66666667% }
  .row__col-m-4 { width: 33.33333333% }
  .row__col-m-3 { width: 25% }
  .row__col-m-2 { width: 16.66666667% }
  .row__col-m-1 { width: 8.33333333% }

  .row__col-m-pl-12 { right: 100% }
  .row__col-m-pl-11 { right: 91.66666667% }
  .row__col-m-pl-10 { right: 83.33333333% }
  .row__col-m-pl-9 { right: 75% }
  .row__col-m-pl-8 { right: 66.66666667% }
  .row__col-m-pl-7 { right: 58.33333333% }
  .row__col-m-pl-6 { right: 50% }
  .row__col-m-pl-5 { right: 41.66666667% }
  .row__col-m-pl-4 { right: 33.33333333% }
  .row__col-m-pl-3 { right: 25% }
  .row__col-m-pl-2 { right: 16.66666667% }
  .row__col-m-pl-1 { right: 8.33333333% }
  .row__col-m-pl-0 { right: auto }

  .row__col-m-ph-12 { left: 100% }
  .row__col-m-ph-11 { left: 91.66666667% }
  .row__col-m-ph-10 { left: 83.33333333% }
  .row__col-m-ph-9 { left: 75% }
  .row__col-m-ph-8 { left: 66.66666667% }
  .row__col-m-ph-7 { left: 58.33333333% }
  .row__col-m-ph-6 { left: 50% }
  .row__col-m-ph-5 { left: 41.66666667% }
  .row__col-m-ph-4 { left: 33.33333333% }
  .row__col-m-ph-3 { left: 25% }
  .row__col-m-ph-2 { left: 16.66666667% }
  .row__col-m-ph-1 { left: 8.33333333% }
  .row__col-m-ph-0 { left: auto }

  .row__col-m-off-12 { margin-left: 100% }
  .row__col-m-off-11 { margin-left: 91.66666667% }
  .row__col-m-off-10 { margin-left: 83.33333333% }
  .row__col-m-off-9 { margin-left: 75% }
  .row__col-m-off-8 { margin-left: 66.66666667% }
  .row__col-m-off-7 { margin-left: 58.33333333% }
  .row__col-m-off-6 { margin-left: 50% }
  .row__col-m-off-5 { margin-left: 41.66666667% }
  .row__col-m-off-4 { margin-left: 33.33333333% }
  .row__col-m-off-3 { margin-left: 25% }
  .row__col-m-off-2 { margin-left: 16.66666667% }
  .row__col-m-off-1 { margin-left: 8.33333333% }
  .row__col-m-off-0 { margin-left: 0 }
}

@media (min-width: 1200px) {
  .row__col-l-1, .row__col-l-2, .row__col-l-3, .row__col-l-4,
  .row__col-l-5, .row__col-l-6, .row__col-l-7, .row__col-l-8,
  .row__col-l-9, .row__col-l-10, .row__col-l-11, .row__col-l-12 {
    float: left
  }

  .row__col-l-12 { width: 100% }
  .row__col-l-11 { width: 91.66666667% }
  .row__col-l-10 { width: 83.33333333% }
  .row__col-l-9 { width: 75% }
  .row__col-l-8 { width: 66.66666667% }
  .row__col-l-7 { width: 58.33333333% }
  .row__col-l-6 { width: 50% }
  .row__col-l-5 { width: 41.66666667% }
  .row__col-l-4 { width: 33.33333333% }
  .row__col-l-3 { width: 25% }
  .row__col-l-2 { width: 16.66666667% }
  .row__col-l-1 { width: 8.33333333% }

  .row__col-l-pl-12 { right: 100% }
  .row__col-l-pl-11 { right: 91.66666667% }
  .row__col-l-pl-10 { right: 83.33333333% }
  .row__col-l-pl-9 { right: 75% }
  .row__col-l-pl-8 { right: 66.66666667% }
  .row__col-l-pl-7 { right: 58.33333333% }
  .row__col-l-pl-6 { right: 50% }
  .row__col-l-pl-5 { right: 41.66666667% }
  .row__col-l-pl-4 { right: 33.33333333% }
  .row__col-l-pl-3 { right: 25% }
  .row__col-l-pl-2 { right: 16.66666667% }
  .row__col-l-pl-1 { right: 8.33333333% }
  .row__col-l-pl-0 { right: auto }

  .row__col-l-ph-12 { left: 100% }
  .row__col-l-ph-11 { left: 91.66666667% }
  .row__col-l-ph-10 { left: 83.33333333% }
  .row__col-l-ph-9 { left: 75% }
  .row__col-l-ph-8 { left: 66.66666667% }
  .row__col-l-ph-7 { left: 58.33333333% }
  .row__col-l-ph-6 { left: 50% }
  .row__col-l-ph-5 { left: 41.66666667% }
  .row__col-l-ph-4 { left: 33.33333333% }
  .row__col-l-ph-3 { left: 25% }
  .row__col-l-ph-2 { left: 16.66666667% }
  .row__col-l-ph-1 { left: 8.33333333% }
  .row__col-l-ph-0 { left: auto }

  .row__col-l-off-12 { margin-left: 100% }
  .row__col-l-off-11 { margin-left: 91.66666667% }
  .row__col-l-off-10 { margin-left: 83.33333333% }
  .row__col-l-off-9 { margin-left: 75% }
  .row__col-l-off-8 { margin-left: 66.66666667% }
  .row__col-l-off-7 { margin-left: 58.33333333% }
  .row__col-l-off-6 { margin-left: 50% }
  .row__col-l-off-5 { margin-left: 41.66666667% }
  .row__col-l-off-4 { margin-left: 33.33333333% }
  .row__col-l-off-3 { margin-left: 25% }
  .row__col-l-off-2 { margin-left: 16.66666667% }
  .row__col-l-off-1 { margin-left: 8.33333333% }
  .row__col-l-off-0 { margin-left: 0 }
}
