*,
:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

body {
  text-rendering: optimizelegibility;
}

a {
  cursor: pointer;
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: underline;
}

img, map, area, iframe {
  border: 0;
}

img {
  position: relative;
  vertical-align: top;
  max-width: 100%;
  height: auto;
}

p {
  margin: 0 0 1em;
}

b, strong {
  font-weight: bold;
}

em, i, dfn, q, cite {
  font-style: italic;
}

del, s {
  text-decoration: line-through;
}

ins {
  text-decoration: underline;
}

abbr {
  cursor: help;
}

hr {
  margin: 1em 0;
  border: 0;
  border-top: 1px solid #eaecef;
}
