@-ms-viewport {
  width: device-width
}

.u-visible-xs,
.u-visible-sm,
.u-visible-md,
.u-visible-lg {
  display: none !important
}

.u-visible-xs-block,
.u-visible-xs-inline,
.u-visible-xs-inline-block,
.u-visible-sm-block,
.u-visible-sm-inline,
.u-visible-sm-inline-block,
.u-visible-md-block,
.u-visible-md-inline,
.u-visible-md-inline-block,
.u-visible-lg-block,
.u-visible-lg-inline,
.u-visible-lg-inline-block {
  display: none !important
}

@media (max-width: 767px) {
  .u-visible-xs {
    display: block !important
  }
  table.u-visible-xs {
    display: table !important
  }
  tr.u-visible-xs {
    display: table-row !important
  }
  th.u-visible-xs,
  td.u-visible-xs {
    display: table-cell !important
  }
}

@media (max-width: 767px) {
  .u-visible-xs-block {
    display: block !important
  }
}

@media (max-width: 767px) {
  .u-visible-xs-inline {
    display: inline !important
  }
}

@media (max-width: 767px) {
  .u-visible-xs-inline-block {
    display: inline-block !important
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .u-visible-sm {
    display: block !important
  }
  table.u-visible-sm {
    display: table !important
  }
  tr.u-visible-sm {
    display: table-row !important
  }
  th.u-visible-sm,
  td.u-visible-sm {
    display: table-cell !important
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .u-visible-sm-block {
    display: block !important
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .u-visible-sm-inline {
    display: inline !important
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .u-visible-sm-inline-block {
    display: inline-block !important
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .u-visible-md {
    display: block !important
  }
  table.u-visible-md {
    display: table !important
  }
  tr.u-visible-md {
    display: table-row !important
  }
  th.u-visible-md,
  td.u-visible-md {
    display: table-cell !important
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .u-visible-md-block {
    display: block !important
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .u-visible-md-inline {
    display: inline !important
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .u-visible-md-inline-block {
    display: inline-block !important
  }
}

@media (min-width: 1200px) {
  .u-visible-lg {
    display: block !important
  }
  table.u-visible-lg {
    display: table !important
  }
  tr.u-visible-lg {
    display: table-row !important
  }
  th.u-visible-lg,
  td.u-visible-lg {
    display: table-cell !important
  }
}

@media (min-width: 1200px) {
  .u-visible-lg-block {
    display: block !important
  }
}

@media (min-width: 1200px) {
  .u-visible-lg-inline {
    display: inline !important
  }
}

@media (min-width: 1200px) {
  .u-visible-lg-inline-block {
    display: inline-block !important
  }
}

@media (max-width: 767px) {
  .u-hidden-xs {
    display: none !important
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .u-hidden-sm {
    display: none !important
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .u-hidden-md {
    display: none !important
  }
}

@media (min-width: 1200px) {
  .u-hidden-lg {
    display: none !important
  }
}

.u-visible-print {
  display: none !important
}

@media print {
  .u-visible-print {
    display: block !important
  }
  table.u-visible-print {
    display: table !important
  }
  tr.u-visible-print {
    display: table-row !important
  }
  th.u-visible-print,
  td.u-visible-print {
    display: table-cell !important
  }
}

.u-visible-print-block {
  display: none !important
}

@media print {
  .u-visible-print-block {
    display: block !important
  }
}

.u-visible-print-inline {
  display: none !important
}

@media print {
  .u-visible-print-inline {
    display: inline !important
  }
}

.u-visible-print-inline-block {
  display: none !important
}

@media print {
  .u-visible-print-inline-block {
    display: inline-block !important
  }
}

@media print {
  .u-hidden-print {
    display: none !important
  }
}
